# 原svn的忽略配置
*.suo
*.user
*.sln.docstates
*.cdf
*.cache
*.obj
*.obj.enc
*.ilk
*.ipdb
*.iobj
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.pch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*_manifest.rc
*.bsc
*.sbr
*.xml
*.metagen
*.bi
*_i.c
*_p.c
*_i.h
*.log
*.pidb
*.ib_tag
*.ib_pdb_index
Tmp
.vs
*.VC.opendb
*.VC.db
*_[Ii]dl.h

/tools/Output

*.ipch
*.aps
/.vscode
*.filters
